.PlayerDetail-name {
  font-size: 36px;
}

.PlayerDetail-image {
  max-width: 280px;
}

.PlayerDetail-info-sections {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.PlayerDetail-info-section {
  flex: 1;
  padding: 16px;
  max-width: 800px;
}

.PlayerDetail-info-section +
.PlayerDetail-info-section {
  border-left: 1px solid #444;
}

.PlayerDetail-info-section__title,
.PlayerDetail-info-section__value {
  margin: 0;
}

.PlayerDetail-info-section__title {
  font-size: 16px;
}

.PlayerDetail-info-section__value {
  margin-top: 16px;
  font-size: 22px;
  font-weight: normal;
}

.PlayerDetail-stats__title {
  font-size: 24px;
}

.PlayerDetail-stats-section +
.PlayerDetail-stats-section {
  margin-top: 16px;
}

.PlayerDetail-stats-section {
  display: flex;
  justify-content: center;
}

.PlayerDetail-stats-section__title,
.PlayerDetail-stats-section__value {
  margin: 0;
}

.PlayerDetail-stats-section__title {
  text-transform: uppercase;
  font-weight: normal;
}

.PlayerDetail-stats-section__value {
  margin-left: 8px;
}