.PlayersList-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PlayersList-input {
    flex: 1;
}

.PlayersList-button {
    margin-left: 16px;
}

.PlayersList-list {
    margin-top: 36px;
}

.PlayersList-item {
    margin-top: 16px;
    padding: 24px;
    font-weight: 500;
}