.App {
  text-align: center;
  color: #07204b;
}

.App-wrapper {
  max-width: 680px;
  margin: 0 auto;
  padding: 24px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    max-width: 100px;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 16px;
  background-color: #ff3266;
  color: white;
  font-size: 16px;
}

.App-title {
  margin: 0;
  margin-top: 16px;
  line-height: 1;
}